name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List files
        run: ls -la

      - name: Build success
        run: echo "CI pipeline executed successfully"
      
      - name: Slack Notification
        if: always()
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{"text":"CI Build Completed for devops-webapp"}' \
          ${{ secrets.SLACK_WEBHOOK }}
